<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.distexec"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListeServeurs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListeCommandes"
            android:label="@string/title_activity_liste_commandes" >
        </activity>
        <activity
            android:name=".AjoutServeur"
            android:label="@string/title_activity_ajout_serveur" >
        </activity>
        <activity
            android:name=".VueCommande"
            android:label="@string/title_activity_commande" >
        </activity>
    </application>

</manifest>
